In [1]:
#Dependencies, import pandas module/library
import pandas as pd

In [2]:
#save path to dataset in a variable
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
#import files School data and student data and read these files with encoding to make sure that the files can be read properly
school_data = pd.read_csv(school_data_to_load, encoding = "ANSI")
student_data = pd.read_csv(student_data_to_load, encoding= "ANSI")

In [4]:
# Merging these 2 files with left join.
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

LOCAL GOVERNMENT AREA SUMMARY

In [5]:
#using a unique function to calculate the total number of schools within the lga
total_school_lga = len(school_data_complete_df["school_name"].unique())

In [6]:
#Counting the total number of students within the LGA by using the count function
total_students_lga = school_data_complete_df["student_name"].count()

In [7]:
#counting the total budget of all schools within the LGA by using the unique function first to avoid duplicate, then using the sum function
total_budget_lga = school_data_complete_df["budget"].unique().sum()
total_budget_lga1 = "${:>,.0f}".format(abs((total_budget_lga))) +".00"

In [8]:
# Calculating the average maths score and reading score
average_math_score = round(school_data_complete_df["maths_score"].mean(),6)

In [9]:
average_reading_score = round(school_data_complete_df["reading_score"].mean(),6)

In [10]:
#Calculate the %passing math: 1st: using loc function to filter out all students passing math, then count the total number of passing math students
passing_math = school_data_complete_df.loc[school_data_complete_df["maths_score"]>=50, :]

passing_math_percentage = round(((passing_math["maths_score"].count())/(total_students_lga))*100,6)

In [11]:
#Calculate the %passing reading: 1st: using loc function to filter out all students passing reading, then count the total number of passing reading students
passing_reading = school_data_complete_df.loc[school_data_complete_df["reading_score"]>=50, :]

passing_reading_percentage = round(((passing_reading["reading_score"].count())/(total_students_lga))*100,6)

In [12]:
#Calculate the %passing overall: 1st: using loc function to filter out all students passing math & reading, then count the total number of passing math students
passing_overall = school_data_complete_df.loc[(school_data_complete_df["maths_score"]>=50) & (school_data_complete_df["reading_score"]>=50), :]

passing_overall_percentage = round(((passing_overall["maths_score"].count())/(total_students_lga))*100,6)

In [13]:
#Print out all the data to the table.

data = [{'Total Schools': total_school_lga, 
        'Total Students': total_students_lga, 
        'Total Budget': total_budget_lga1, 
        'Average Maths Score': average_math_score, 
        'Average Reading Score': average_reading_score, 
        '% Passing Maths': passing_math_percentage, 
        '% Passing Reading': passing_reading_percentage, 
        '% Overall Passing': passing_overall_percentage}]
df = pd.DataFrame(data) 
df

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

In [14]:
#Count the number of students in each school

school_student_summary = school_data_complete_df["school_name"].value_counts()
school_student_summary_df = pd.DataFrame(school_student_summary)
students_renamed_df = school_student_summary_df.rename(columns ={"school_name":"Total Students"})

In [15]:
# Using groupby "school name" to sort out the budget and type for each school
school_summary_budget_df = school_data_complete_df.groupby(["school_name"])
budget_sort = school_summary_budget_df[["type", "budget"]].max()
budget_sort_df = budget_sort.rename(columns = {"type":"School Type", "budget": "Total School Budget"})

budget_sort_df.index.name = None

In [16]:
lga_student_budget_df= pd.DataFrame(lga_student_budget_df ["per_school_capita"])
lga_student_budget_df ["per_school_capita"] = budget_sort_df["Total School Budget"]/students_renamed_df["Total Students"]


per_student_budget_df = lga_student_budget_df.rename(columns ={"per_school_capita":"Per Student Budget"})

#per_student_budget_df.loc[:,"Per Student Budget"] = per_student_budget_df["Per Student Budget"].astype(float).map ('${:,.2f}'.format)

KeyError: 'per_school_capita'

In [ ]:
average_maths_reading = school_summary_budget_df[["maths_score", "reading_score"]].mean()
average_maths_reading_df = pd.DataFrame(average_maths_reading).rename(columns = {"maths_score":"Average Maths Score", "reading_score": "Average Reading Score"})
average_maths_reading_df.index.name = None

In [ ]:
#Calculate % Passing Math and % Passing Reading
passing_math_lga = school_data_complete_df.loc[school_data_complete_df["maths_score"]>=50, ["school_name","maths_score"]]
percentage_passing_math_lga = round(((passing_math_lga["school_name"].value_counts())/students_renamed_df["Total Students"])*100,6)
percentage_passing_math_lga = pd.DataFrame(percentage_passing_math_lga).rename (columns = {0: "% Passing Maths"})
#percentage_passing_math_lga

passing_reading_lga = school_data_complete_df.loc[school_data_complete_df["reading_score"]>=50, ["school_name","reading_score"]]
percentage_passing_reading_lga = round(((passing_reading_lga["school_name"].value_counts())/students_renamed_df["Total Students"])*100,6)
percentage_passing_reading_lga = pd.DataFrame(percentage_passing_reading_lga).rename (columns = {0: "% Passing Reading"})
#percentage_passing_reading_lga

In [ ]:
passing_reading_maths_lga = school_data_complete_df.loc[(school_data_complete_df["maths_score"]>=50) & (school_data_complete_df["reading_score"]>=50), ["school_name","maths_score"]]
percentage_passing_reading_maths_lga = round(((passing_reading_maths_lga["school_name"].value_counts())/students_renamed_df["Total Students"])*100,6)
percentage_passing_reading_maths_lga = pd.DataFrame(percentage_passing_reading_maths_lga).rename (columns = {0: "% Overall Passing"})

In [ ]:
#Formating the data into currency value
budget_sort_df.loc[:,"Total School Budget"] = budget_sort_df["Total School Budget"].astype(float).map ('${:,.2f}'.format)


#per_student_budget_df.loc[:,"Per Student Budget"] = per_student_budget_df["Per Student Budget"].astype(float).map ('${:,.2f}'.format)

#Combinding all the DataFrames into one summary DataFrame for LGA
lga_summary_df = budget_sort_df.join (students_renamed_df).join(per_student_budget_df).join(average_maths_reading_df).join(percentage_passing_math_lga).join(percentage_passing_reading_lga).join(percentage_passing_reading_maths_lga )

#Re-arrange the columns as per question required
rearrange_lga_summary_df = lga_summary_df[["School Type", "Total Students", "Total School Budget", "Per Student Budget", "Average Maths Score", "Average Reading Score", "% Passing Maths", "% Passing Reading", "% Overall Passing"]]

rearrange_lga_summary_df

Top Performing Schools (By % Overall Passing)

In [ ]:
#Using sort function with the setting ascending to False to sort from top to lowest.

top_performing_schools = rearrange_lga_summary_df.sort_values('% Overall Passing', ascending= False)
top_performing_schools.head(5)

In [ ]:
#Using sort function with the setting ascending to True to sort from lowest to highest.
lowest_performing_schools = rearrange_lga_summary_df.sort_values('% Overall Passing')
lowest_performing_schools.head(5)

Maths Scores by Year

In [ ]:
#Year 9
#Using loc function to filter out the specific year required, then using groupby to calculate the average
year_9_df= school_data_complete_df.loc[(school_data_complete_df["year"]==9), :]    
year_9_df = year_9_df.groupby(["school_name"]).mean()
rename_year_9_math_df = year_9_df.rename(columns = {"maths_score": "Year 9"})

#Drop off all irrelevant columns in the table
year_9_math = rename_year_9_math_df[["Year 9"]]


#Year 10
year_10_df= school_data_complete_df.loc[(school_data_complete_df["year"]==10), :]    
year_10_df = year_10_df.groupby(["school_name"]).mean()
rename_year_10_math_df = year_10_df.rename(columns = {"maths_score": "Year 10"})

#Drop off all irrelevant columns in the table
year_10_math = rename_year_10_math_df[["Year 10"]]


#Year 11
year_11_df= school_data_complete_df.loc[(school_data_complete_df["year"]==11), :]    
year_11_df = year_11_df.groupby(["school_name"]).mean()
rename_year_11_math_df = year_11_df.rename(columns = {"maths_score": "Year 11"})

#Drop off all irrelevant columns in the table
year_11_math = rename_year_11_math_df[["Year 11"]]


#Year 12
year_12_df= school_data_complete_df.loc[(school_data_complete_df["year"]==12), :]    
year_12_df = year_12_df.groupby(["school_name"]).mean()
rename_year_12_math_df = year_12_df.rename(columns = {"maths_score": "Year 12"})

#Drop off all irrelevant columns in the table
year_12_math = rename_year_12_math_df[["Year 12"]]


#join all dataframe together to represent the Maths Scores by Year for all schools within LGA
maths_score_by_year = year_9_math.join(year_10_math).join(year_11_math).join(year_12_math)
maths_score_by_year.index.name = None
maths_score_by_year

Reading Score by year

In [ ]:
#Year 9:
#Using the dataseries above (in Math Score by year) to prevent repeating the commands
rename_year_9_reading_df = year_9_df.rename(columns = {"reading_score": "Year 9"})
#Drop off all irrelevant columns in the table
year_9_reading = rename_year_9_reading_df[["Year 9"]]


#Year 10:
rename_year_10_reading_df = year_10_df.rename(columns = {"reading_score": "Year 10"})
#Drop off all irrelevant columns in the table
year_10_reading = rename_year_10_reading_df[["Year 10"]]


#Year 11:
rename_year_11_reading_df = year_11_df.rename(columns = {"reading_score": "Year 11"})
#Drop off all irrelevant columns in the table
year_11_reading = rename_year_11_reading_df[["Year 11"]]


#Year 12:
rename_year_12_reading_df = year_12_df.rename(columns = {"reading_score": "Year 12"})
#Drop off all irrelevant columns in the table
year_12_reading = rename_year_12_reading_df[["Year 12"]]

#join all dataframe together to represent the Reading Scores by Year for all schools within LGA
reading_score_by_year = year_9_reading.join(year_10_reading).join(year_11_reading).join(year_12_reading)
reading_score_by_year.index.name = None
reading_score_by_year

Scores by School Spending

In [ ]:
#Create bins in which to place values based upon spending ranges (per student)
bins = [0, 584.99, 629.99, 644.99, 680]

#create labels for these bins
groups_labels = ["< $585", "$585 - 630", "$630 - 645", "$645 - 680"]


rearrange_lga_summary_df["Spending Ranges (Per Student)"] = pd.cut(rearrange_lga_summary_df["Per Student Budget"], bins, labels = groups_labels)

#spending_range_group = rearrange_lga_summary_df.groupby["Spending Ranges (Per Student)"]

#spending_range = spending_range_group[["Average Maths Score", "Average Reading Score", "% Passing Maths", "% Passing Reading", "% Overall Passing"]].mean()
spending_range


#rearrange_lga_summary1_df.set_index("Spending Ranges (Per Student)", inplace=True)
#rearrange_lga_summary_df["Spending Ranges (Per Student)"].unique()