In [1]:
#Dependencies, import pandas module/library
import pandas as pd

In [2]:
#save path to dataset in a variable
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
#import files School data and student data and read these files with encoding to make sure that the files can be read properly
school_data = pd.read_csv(school_data_to_load, encoding = "ANSI")
student_data = pd.read_csv(student_data_to_load, encoding= "ANSI")

In [4]:
# Merging these 2 files with left join.
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

LOCAL GOVERNMENT AREA SUMMARY

In [5]:
#using a unique function to calculate the total number of schools within the lga
total_school_lga = len(school_data_complete_df["school_name"].unique())

In [6]:
#Counting the total number of students within the LGA by using the count function
total_students_lga = school_data_complete_df["student_name"].count()
#formating display
total_students_lga1 = "{:>,.0f}".format(abs((total_students_lga)))

In [7]:
#counting the total budget of all schools within the LGA by using the unique function first to avoid duplicate, then using the sum function
total_budget_lga = school_data_complete_df["budget"].unique().sum()
#formating display
total_budget_lga1 = "${:>,.0f}".format(abs((total_budget_lga))) +".00"

In [8]:
# Calculating the average maths score and reading score
average_math_score = round(school_data_complete_df["maths_score"].mean(),6)

In [9]:
average_reading_score = round(school_data_complete_df["reading_score"].mean(),6)

In [10]:
#Calculate the %passing math: 1st: using loc function to filter out all students passing math, then count the total number of passing math students
passing_math = school_data_complete_df.loc[school_data_complete_df["maths_score"]>=50, :]

passing_math_percentage = round(((passing_math["maths_score"].count())/(total_students_lga))*100,6)

In [11]:
#Calculate the %passing reading: 1st: using loc function to filter out all students passing reading, then count the total number of passing reading students
passing_reading = school_data_complete_df.loc[school_data_complete_df["reading_score"]>=50, :]

passing_reading_percentage = round(((passing_reading["reading_score"].count())/(total_students_lga))*100,6)

In [12]:
#Calculate the %passing overall: 1st: using loc function to filter out all students passing math & reading, then count the total number of passing math students
passing_overall = school_data_complete_df.loc[(school_data_complete_df["maths_score"]>=50) & (school_data_complete_df["reading_score"]>=50), :]

passing_overall_percentage = round(((passing_overall["maths_score"].count())/(total_students_lga))*100,6)

In [13]:
#Print out all the data to the table.

data = [{'Total Schools': total_school_lga, 
        'Total Students': total_students_lga1, 
        'Total Budget': total_budget_lga1, 
        'Average Maths Score': average_math_score, 
        'Average Reading Score': average_reading_score, 
        '% Passing Maths': passing_math_percentage, 
        '% Passing Reading': passing_reading_percentage, 
        '% Overall Passing': passing_overall_percentage
        }]
df = pd.DataFrame(data) 
df

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

In [14]:
#Count the number of students in each school

school_student_summary = school_data_complete_df["school_name"].value_counts()
school_student_summary_df = pd.DataFrame(school_student_summary)
students_renamed_df = school_student_summary_df.rename(columns ={"school_name":"Total Students"})

In [15]:
# Using groupby "school name" to sort out the budget and type for each school
school_summary_budget_df = school_data_complete_df.groupby(["school_name"])
budget_sort = school_summary_budget_df[["type", "budget"]].max()
budget_data_df = pd.DataFrame(budget_sort)
budget_sort_df = budget_data_df.rename(columns = {"type":"School Type", "budget": "Total School Budget"})

In [16]:

per_school_capita = budget_sort_df["Total School Budget"]/students_renamed_df["Total Students"]
lga_student_budget_df= pd.DataFrame(per_school_capita)

per_student_budget_df = lga_student_budget_df.rename(columns={0:"Per Student Budget"})

In [17]:
average_maths_reading = school_summary_budget_df[["maths_score", "reading_score"]].mean()
average_maths_reading_df = pd.DataFrame(average_maths_reading).rename(columns = {"maths_score":"Average Maths Score", "reading_score": "Average Reading Score"})
average_maths_reading_df.index.name = None

In [18]:
#Calculate % Passing Math and % Passing Reading
passing_math_lga = school_data_complete_df.loc[school_data_complete_df["maths_score"]>=50, ["school_name","maths_score"]]
percentage_passing_math_lga = round(((passing_math_lga["school_name"].value_counts())/students_renamed_df["Total Students"])*100,6)
percentage_passing_math_lga = pd.DataFrame(percentage_passing_math_lga).rename (columns = {0: "% Passing Maths"})

passing_reading_lga = school_data_complete_df.loc[school_data_complete_df["reading_score"]>=50, ["school_name","reading_score"]]
percentage_passing_reading_lga = round(((passing_reading_lga["school_name"].value_counts())/students_renamed_df["Total Students"])*100,6)
percentage_passing_reading_lga = pd.DataFrame(percentage_passing_reading_lga).rename (columns = {0: "% Passing Reading"})

In [19]:
passing_reading_maths_lga = school_data_complete_df.loc[(school_data_complete_df["maths_score"]>=50) & (school_data_complete_df["reading_score"]>=50), ["school_name","maths_score"]]
percentage_passing_reading_maths_lga = round(((passing_reading_maths_lga["school_name"].value_counts())/students_renamed_df["Total Students"])*100,6)
percentage_passing_reading_maths_lga = pd.DataFrame(percentage_passing_reading_maths_lga).rename (columns = {0: "% Overall Passing"})

In [20]:
#Formating the data into currency value
budget_sort_df.loc[:,"Total School Budget"] = budget_sort_df["Total School Budget"].astype(float).map ('${:,.2f}'.format)

per_student_budget_df.loc[:,"Per Student Budget"] = per_student_budget_df["Per Student Budget"].map ('${:,.2f}'.format)
#total_budget_lga1 = "${:>,.0f}".format(abs((total_budget_lga))) +".00"

#per_student_budget_df.loc[:,"Per Student Budget"] = per_student_budget_df["Per Student Budget"].astype(float).map ('${:,.2f}'.format)

#Combinding all the DataFrames into one summary DataFrame for LGA
lga_summary_df = budget_sort_df.join (students_renamed_df).join(per_student_budget_df).join(average_maths_reading_df).join(percentage_passing_math_lga).join(percentage_passing_reading_lga).join(percentage_passing_reading_maths_lga )

#Re-arrange the columns as per question required
rearrange_lga_summary_df = lga_summary_df[["School Type", "Total Students", "Total School Budget", "Per Student Budget", "Average Maths Score", "Average Reading Score", "% Passing Maths", "% Passing Reading", "% Overall Passing"]]

rearrange_lga_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,"$248,087.00",$581.00,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,"$585,858.00",$609.00,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222

Top Performing Schools (By % Overall Passing)

In [30]:
#Using sort function with the setting ascending to False to sort from top to lowest.

top_performing_schools = rearrange_lga_summary_df.sort_values('% Overall Passing', ascending= False)
top_performing_schools.index.name = None
top_performing_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150,$585 - 630
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791,< $585
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405,$585 - 630
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222,< $585
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855,$630 - 645

In [31]:
#Using sort function with the setting ascending to True to sort from lowest to highest.
lowest_performing_schools = rearrange_lga_summary_df.sort_values('% Overall Passing')
lowest_performing_schools.index.name = None
lowest_performing_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617,$645 - 680
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376,$645 - 680
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766,$645 - 680
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103,< $585
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880,$630 - 645

Maths Scores by Year

In [23]:
#Year 9
#Using loc function to filter out the specific year required, then using groupby to calculate the average
year_9_df= school_data_complete_df.loc[(school_data_complete_df["year"]==9), :]    
year_9_df = year_9_df.groupby(["school_name"]).mean()
rename_year_9_math_df = year_9_df.rename(columns = {"maths_score": "Year 9"})

#Drop off all irrelevant columns in the table
year_9_math = rename_year_9_math_df[["Year 9"]]


#Year 10
year_10_df= school_data_complete_df.loc[(school_data_complete_df["year"]==10), :]    
year_10_df = year_10_df.groupby(["school_name"]).mean()
rename_year_10_math_df = year_10_df.rename(columns = {"maths_score": "Year 10"})

#Drop off all irrelevant columns in the table
year_10_math = rename_year_10_math_df[["Year 10"]]


#Year 11
year_11_df= school_data_complete_df.loc[(school_data_complete_df["year"]==11), :]    
year_11_df = year_11_df.groupby(["school_name"]).mean()
rename_year_11_math_df = year_11_df.rename(columns = {"maths_score": "Year 11"})

#Drop off all irrelevant columns in the table
year_11_math = rename_year_11_math_df[["Year 11"]]


#Year 12
year_12_df= school_data_complete_df.loc[(school_data_complete_df["year"]==12), :]    
year_12_df = year_12_df.groupby(["school_name"]).mean()
rename_year_12_math_df = year_12_df.rename(columns = {"maths_score": "Year 12"})

#Drop off all irrelevant columns in the table
year_12_math = rename_year_12_math_df[["Year 12"]]


#join all dataframe together to represent the Maths Scores by Year for all schools within LGA
maths_score_by_year = year_9_math.join(year_10_math).join(year_11_math).join(year_12_math)
maths_score_by_year.index.name = None
maths_score_by_year

                          Year 9    Year 10    Year 11    Year 12
Bailey High School     72.493827  71.897498  72.374900  72.675097
Cabrera High School    72.321970  72.437768  71.008299  70.604712
Figueroa High School   68.477804  68.331586  68.811001  69.325282
Ford High School       69.021609  69.387006  69.248862  68.617811
Griffin High School    72.789731  71.093596  71.692521  71.469178
Hernandez High School  68.586831  68.867156  69.154412  68.985075
Holden High School     70.543307  75.105263  71.640777  73.409639
Huang High School      69.081754  68.533246  69.431345  68.639316
Johnson High School    69.469286  67.990220  68.637730  69.287393
Pena High School       71.996364  72.396000  72.523438  71.187845
Rodriguez High School  71.940722  71.779808  72.364811  72.154626
Shelton High School    72.932075  72.506696  70.097087  72.331536
Thomas High School     69.234273  70.057007  69.657831  69.369822
Wilson High School     69.212361  69.455446  68.378965  69.787472
Wright High School     71.741176  72.179012  73.275862  70.848238

Reading Score by year

In [24]:
#Year 9:
#Using the dataseries above (in Math Score by year) to prevent repeating the commands
rename_year_9_reading_df = year_9_df.rename(columns = {"reading_score": "Year 9"})
#Drop off all irrelevant columns in the table
year_9_reading = rename_year_9_reading_df[["Year 9"]]


#Year 10:
rename_year_10_reading_df = year_10_df.rename(columns = {"reading_score": "Year 10"})
#Drop off all irrelevant columns in the table
year_10_reading = rename_year_10_reading_df[["Year 10"]]


#Year 11:
rename_year_11_reading_df = year_11_df.rename(columns = {"reading_score": "Year 11"})
#Drop off all irrelevant columns in the table
year_11_reading = rename_year_11_reading_df[["Year 11"]]


#Year 12:
rename_year_12_reading_df = year_12_df.rename(columns = {"reading_score": "Year 12"})
#Drop off all irrelevant columns in the table
year_12_reading = rename_year_12_reading_df[["Year 12"]]

#join all dataframe together to represent the Reading Scores by Year for all schools within LGA
reading_score_by_year = year_9_reading.join(year_10_reading).join(year_11_reading).join(year_12_reading)
reading_score_by_year.index.name = None
reading_score_by_year

                          Year 9    Year 10    Year 11    Year 12
Bailey High School     70.901920  70.848265  70.317346  72.195525
Cabrera High School    71.172348  71.328326  71.201245  71.856021
Figueroa High School   70.261682  67.677588  69.152327  69.082126
Ford High School       69.615846  68.988701  70.735964  68.849722
Griffin High School    72.026895  70.746305  72.385042  69.434932
Hernandez High School  68.477569  70.621842  68.418199  69.244136
Holden High School     71.598425  71.096491  73.310680  70.481928
Huang High School      68.670616  69.516297  68.740638  68.671795
Johnson High School    68.719286  69.295029  69.969115  67.992521
Pena High School       70.949091  72.324000  71.703125  71.513812
Rodriguez High School  70.902921  70.137500  71.424453  71.414449
Shelton High School    70.715094  69.879464  71.150485  69.070081
Thomas High School     69.672451  69.741093  70.749398  68.730769
Wilson High School     68.683043  68.412541  68.796327  69.888143
Wright High School     71.823529  71.386831  70.475862  69.821138

Scores by School Spending

In [25]:
#Create bins in which to place values based upon spending ranges (per student)
bins = [0, 584.99, 629.99, 644.99, 680]

#create labels for these bins
groups_labels = ["< $585", "$585 - 630", "$630 - 645", "$645 - 680"]

rearrange_lga_summary_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, bins, labels = groups_labels)

c:\Users\John Paul\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [26]:
spending_range_group = rearrange_lga_summary_df

average_math_range = spending_range_group.groupby(["Spending Ranges (Per Student)"]).mean()[["Average Maths Score"]]
average_reading_range = spending_range_group.groupby(["Spending Ranges (Per Student)"]).mean()[["Average Reading Score"]]
perecent_passing_math_range = spending_range_group.groupby(["Spending Ranges (Per Student)"]).mean()[["% Passing Maths"]]
perecent_passing_reading_range = spending_range_group.groupby(["Spending Ranges (Per Student)"]).mean()[["% Passing Reading"]]
perecent_passing_overall_range = spending_range_group.groupby(["Spending Ranges (Per Student)"]).mean()[["% Overall Passing"]]

average_math_df = pd.DataFrame (average_math_range)

average_reading_df = pd.DataFrame(average_reading_range)
percent_passing_math_df = pd.DataFrame(perecent_passing_math_range)
percent_passing_reading_df = pd.DataFrame(perecent_passing_reading_range)
percent_passing_overall_df = pd.DataFrame(perecent_passing_overall_range)

scores_school_spending = average_math_df.join(average_reading_df). join(percent_passing_math_df).join(percent_passing_reading_df).join(percent_passing_overall_df)
scores_school_spending

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
< $585,71.364587,70.716577,88.835926,86.390518,76.721458
$585 - 630,72.065868,71.031297,91.518824,87.292423,79.876293
$630 - 645,69.854807,69.838814,84.686138,83.763584,71.004977
$645 - 680,68.884391,69.045403,81.568471,81.769716,66.756253

Scores by School Size

In [27]:
# Using calculation of school summary budget above to sort out the school size for each school
school_size_sort = school_summary_budget_df[["size"]].max()
school_size_sort_df = school_size_sort.rename(columns = {"size":"School Size"})

#Create a new LGA summary df to adjoin the existing LGA summary df with the new created school size sort. Avoiding using an existing LGA summary in case it requires to reuse.
lga_summary1_df = lga_summary_df. join(school_size_sort_df)

In [28]:
#Create bins in which to place values based upon school size
bins = [0, 999.99, 1999.99, 5000]

#create labels for these bins
groups_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

lga_summary1_df["School Size"] = pd.cut(lga_summary1_df["School Size"], bins, labels = groups_labels, include_lowest=True)

size_average_math_range = lga_summary1_df.groupby(["School Size"]).mean()[["Average Maths Score"]]
size_average_reading_range = lga_summary1_df.groupby(["School Size"]).mean()[["Average Reading Score"]]
size_perecent_passing_math_range = lga_summary1_df.groupby(["School Size"]).mean()[["% Passing Maths"]]
size_perecent_passing_reading_range = lga_summary1_df.groupby(["School Size"]).mean()[["% Passing Reading"]]
size_perecent_passing_overall_range = lga_summary1_df.groupby(["School Size"]).mean()[["% Overall Passing"]]

#Create a new data frame for each columns label
size_average_math_df = pd.DataFrame (size_average_math_range)
size_average_reading_df = pd.DataFrame(size_average_reading_range)
size_percent_passing_math_df = pd.DataFrame(size_perecent_passing_math_range)
size_percent_passing_reading_df = pd.DataFrame(size_perecent_passing_reading_range)
size_percent_passing_overall_df = pd.DataFrame(size_perecent_passing_overall_range)

#Assigning a new dataframe to join all the existing data frame together
scores_school_size = size_average_math_df.join(size_average_reading_df). join(size_percent_passing_math_df).join(size_percent_passing_reading_df).join(size_percent_passing_overall_df)
scores_school_size

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),72.335748,71.636864,90.806867,87.557513,79.066348
Medium (1000-2000),71.421650,70.720164,89.846560,86.714148,78.039785
Large (2000-5000),69.751809,69.576052,84.252804,83.301185,70.293507

Scores by School Type

In [29]:
#Using groupby function to classify the school type, then calculate the average of each columns
school_type_average_math_range = rearrange_lga_summary_df.groupby(["School Type"]).mean()["Average Maths Score"]
school_type_average_reading_range = rearrange_lga_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]
school_type_pct_pass_math_range = rearrange_lga_summary_df.groupby(["School Type"]).mean()["% Passing Maths"]
school_type_pct_pass_reading_range = rearrange_lga_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]
school_type_pct_overall_passing_range = rearrange_lga_summary_df.groupby(["School Type"]).mean()["% Overall Passing"]

#Creating dataframe
school_type_average_math_df = pd.DataFrame(school_type_average_math_range)
school_type_average_reading_df = pd.DataFrame(school_type_average_reading_range)
school_type_pass_math_df = pd.DataFrame(school_type_pct_pass_math_range)
school_type_pass_reading_df = pd.DataFrame(school_type_pct_pass_reading_range)
school_type_overall_df = pd.DataFrame(school_type_pct_overall_passing_range)

#Joining all dataframe into 1 dataframe summary
scores_school_type = school_type_average_math_df.join(school_type_average_reading_df). join(school_type_pass_math_df).join(school_type_pass_reading_df).join(school_type_overall_df)
scores_school_type

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Type,,,,,
Government,69.834806,69.675929,84.462375,83.587562,70.698993
Independent,71.368822,70.718933,89.204042,86.247789,76.973340